@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

* {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

h1 {
    color: #000;
    font-weight: 300;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 45px 0 0;
    small {
        font-size: 18px;
        display: block;
        text-transform: uppercase;
    }
    &::before {
        background: #f3f3f3;
        width: 300px;
        height: 300px;
        content: "";
        display: block;
        position: absolute;
        left: -159px;
        top: -159px;
        transform: rotate(45deg);
        z-index: -1;
    }
    &::after {
        background: #f3f3f3;
        width: 300px;
        height: 300px;
        content: "";
        display: block;
        position: absolute;
        right: -159px;
        top: -159px;
        transform: rotate(45deg);
        @media(max-width: 992px) {
            display: none;
        }
    }

}

.projetos {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 50px auto;
    flex-direction: column;
    h2 {
        color: rgb(49, 48, 48);
        text-align: center;
        font-size: 15px;
        margin-bottom: 50px;
    }

    ul {
        height: 100%;
        list-style: none;   
        align-items: center;
        display: flex;
        justify-content: space-around; 
        flex-wrap: wrap;
        max-width: 90%;
        li {
            margin: 1% 2%;
            width: 46%;
            @media (max-width: 992px) {
                width: 100%;
            }
            a {
                color: #313030;
                font-weight: normal;
                text-decoration: none;
                font-size: 18px;
                padding: 25px;
                display: block;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                background: #fff;
                box-shadow: 0 0px 46px rgba(210, 207, 207, 0.5803921568627451);
                border-radius: 4px;
                &:hover {
                    color: #000;
                    box-shadow: 0 0px 46px rgba(92, 91, 91, 0.58);
                }
            }
        }
    }

}

.lk {
    display: flex;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border: 1px solid #0073b1;
    margin-bottom: 100px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0073b1;
    transition: 0.5s;
    &:hover {
        border: 1px solid #14adff;
        color: #14adff;
    }
}